In [1]:
print("Hello world!!")

Hello world!!

In [6]:
x = 10
y = 20
print(x + y)
print(x - y)
print(x * )
print(x / y)

SyntaxError: invalid syntax (1441982122.py, line 5)

In [3]:
print(x - y)

-10

In [4]:
print("Hello world)

SyntaxError: unterminated string literal (detected at line 1) (3474576738.py, line 1)

In [5]:
print(x * y)

200

We have done basic math operations on integer variables x and y

In [7]:
x = 10
y = 20
print(x + y)
print(x - y)

30
-10

### Understanding Basics of Python
1. Identifiers
2. Keywords
3. Comments
4. Indentations

### Variable creation

### Input and Output functions
1. print()
2. input()

### Identifiers:
These are used to identify any object which is created.

### Rules for creating identifiers
1. Always begin with alphabets or underscore(_)
2. use digits any where but not in the begining
3. special characters are not allowed including space
4. keywords are not used as identifiers
5. python is case sensitive

In [8]:
rollno = 123

In [9]:
1rollno = 123

SyntaxError: invalid decimal literal (1237639207.py, line 1)

In [10]:
rool1no = 123

In [11]:
roll no = 123

SyntaxError: invalid syntax (458051787.py, line 1)

In [12]:
roll$no = 123

SyntaxError: invalid syntax (3751711400.py, line 1)

In [13]:
_rollno = 123

In [14]:
roll_no = 123

In [15]:
roll@no = 123

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2168585921.py, line 1)

In [16]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [17]:
while = 123

SyntaxError: invalid syntax (2893129215.py, line 1)

In [18]:
rollno = 123
ROLLNo = 121
RollNo = 122

### comments:
1. single line comments ==> use #
2. multiple line comments ==> use '''  '''  or """   """

In [20]:
#This is a variable x
#we are performing arithmetic operations
x = 10
y = 20 #This is a varibale y
print(x + y)#This is addition of x and y

30

In [21]:
'''This is a variable x
we are performing arithmetic operations'''
x = 10
y = 20 #This is a varibale y
print(x + y)#This is addition of x and y

30

### Indentations:

In [22]:
x = 10
y = 20
if x > y:
    print("x is greater than y")
    if x > 5:
        print("x is greater than y and x is greater than 5")
        print("------------")
else:
    print("y is greater than x")

y is greater than x

### variables:
These are used to store some values.

### Types of variables:
1. Local variables
2. Global variables

In [23]:
x = 10

In [24]:
type(x)

int

### Input and Output functions
1. print() ==> print(value, sep=' ', end='\n')
2. input()

In [1]:
print("Hello world!!")

Hello world!!

In [3]:
a = 10
b = 20
c = 30
print(a,b,c,sep=" $ ")

10 $ 20 $ 30

In [4]:
print(a,end="   ")
print(b)
print(c)

10
20
30

### Exercise:
1. Accept two values from the user ==> name and roll number
2. input : name = 'preeti' ,roll_no = 1
3. output : My name is preeti and roll number is 1

In [5]:
name = "preeti"
roll_no = 1
print("My name is",name,"and roll number is",roll_no)

My name is preeti and roll number is 1

In [6]:
print("My name is %s and roll number is %d"%(name,roll_no))

My name is preeti and roll number is 1

In [7]:
print("My name is {} and roll number is {}".format(name,roll_no))

My name is preeti and roll number is 1

In [8]:
print("My name is {0} and roll number is {1} and {1}".format(name,roll_no))

My name is preeti and roll number is 1 and 1

In [11]:
print(f"My name is {name} and roll number is {roll_no}")

My name is preeti and roll number is 1

In [15]:
name = input("Enter name:")
roll_no = int(input("Enter roll number:"))
print(type(name),type(roll_no))
print(f"My name is {name} and roll number is {roll_no}")

Enter name:preeti
Enter roll number:1
<class 'str'> <class 'int'>
My name is preeti and roll number is 1

### Exercise:
1. Accept 3 values from the user from run time ==> name(str),emp_id(int),salary(float)
2. output : My name is xxxx emp id is xx and salary is xxxx
3. use Three print() statements

In [16]:
name = input("Enter name:")
emp_id = int(input("Enter emp_id:"))
salary = float(input("Enter salary:"))
print("My name is",name,end=" ")
print("emp id is",emp_id,end=" ")
print("ans salary is",salary)

Enter name:preeti
Enter emp_id:123
Enter salary:45678
My name is preeti emp id is 123 ans salary is 45678.0

### Data types:
Data types are used to identify the type of the value which is assigned to the variable.
### Types of Data types:
1. Fundamental DT
    1. int
    2. float
    3. complex
    4. Boolean
    5. String
2. Collection DT
    1. List
    2. Tuple
    3. set
    4. Dictionary

In [18]:
x = 10
y = 20.56
z = 3 + 5j

In [19]:
type(x)

int

In [20]:
type(y)

float

In [21]:
type(z)

complex

In [22]:
a = 30e2
print(a,type(a))

3000.0 <class 'float'>

In [23]:
z

(3+5j)

In [24]:
z.real

3.0

In [25]:
z.imag

5.0

In [26]:
c1 = 2 + 5j
c2 = 1 - 2j

In [27]:
print(c1 + c2)
print(c1 - c2)
print(c1 * c2)
print(c1 / c2)

(3+3j)
(1+7j)
(12+1j)
(-1.6+1.8j)

In [28]:
10 < 20

True

In [29]:
10 == 20

False

In [30]:
s = 'abc'
s1 = "xyz"

In [31]:
print(type(s),type(s1))

<class 'str'> <class 'str'>

In [32]:
name = "python programming"

In [33]:
name[2:6]

'thon'

In [34]:
name[::2]

'pto rgamn'

In [35]:
name = "abc"
name[-1]

'c'

In [36]:
name[::-1]

'cba'

### Accept a string from the user and check whether it is palindrome or not

In [37]:
s = input("Enter a string:")
if s == s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

Enter a string:madam
palindrome