### Dictionary:

In [1]:
dict1 = {'name':'preeti','emp_id':123}

In [2]:
#Adding a new entry
dict1['loc'] = 'Hyd'

In [3]:
dict1

{'name': 'preeti', 'emp_id': 123, 'loc': 'Hyd'}

In [4]:
#Removing an entry
del dict1['emp_id']

In [5]:
dict1

{'name': 'preeti', 'loc': 'Hyd'}

In [6]:
#Updating a dictionary
dict1['name'] = 'sivani'

In [7]:
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [8]:
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [9]:
dict2 = {'emp_id':1}

In [10]:
dict2

{'emp_id': 1}

In [11]:
dict1 + dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
dict1 - dict2

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [13]:
dict1 * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [14]:
#Accessing value from the dictionary
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [15]:
dict1['name']

'sivani'

In [16]:
#Membership operators
'Hyd' in dict1

False

In [17]:
'loc' in dict1

True

### Built-in functions:
1. len()
2. min()
3. max()
4. dict()

In [18]:
len(dict1)

2

In [19]:
min(dict1)

'loc'

In [20]:
max(dict1)

'name'

In [21]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [23]:
dict1.keys()

dict_keys(['name', 'loc'])

In [24]:
dict1.values()

dict_values(['sivani', 'Hyd'])

In [25]:
dict1.items()

dict_items([('name', 'sivani'), ('loc', 'Hyd')])

In [26]:
dict1['name']

'sivani'

In [27]:
dict1.get('name')

'sivani'

In [28]:
#Adding entry/entries
dict1.update({'emp_id':123})

In [29]:
dict1

{'name': 'sivani', 'loc': 'Hyd', 'emp_id': 123}

In [30]:
#Removing entry
dict1.pop('loc')

'Hyd'

In [31]:
dict1

{'name': 'sivani', 'emp_id': 123}

In [32]:
dict1.popitem()

('emp_id', 123)

In [33]:
dict1

{'name': 'sivani'}

In [34]:
dict1

{'name': 'sivani'}

In [35]:
#setdefault
dict1.setdefault('loc','Hyd')

'Hyd'

In [36]:
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [37]:
dict1.setdefault('name','preeti')

'sivani'

In [38]:
dict1

{'name': 'sivani', 'loc': 'Hyd'}

In [39]:
dict1.fromkeys(['a','b','c'],10)

{'a': 10, 'b': 10, 'c': 10}

### Control flow statements:
#### conditional control statements:
1. if
2. else
3. elif
#### Looping statements
1. while
2. for
#### Loop control statements:
1. break
2. continue
#### empty block creation
1. pass

Check whether the given number is even or odd.

In [43]:
x = int(input("Enter a number:"))
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:15
Odd

check whether the given number is +ve,-ve or 0

In [46]:
x = int(input("Enter a number:"))
if x > 0:
    print("+ve")
elif x < 0:
    print("-ve")
else:
    print("Zero")

Enter a number:0
Zero

1. Accept 3 subjects marks of a student
2. check whether he got >35 marks in all subjects then calculate avg else display 'F'
3. if avg >= 75 ==> 'A' ,avg < 75 and avg >= 65 ==> 'B',avg < 65 and avg >= 35 ==> 'C'

In [47]:
m1 = int(input("Enter sub1 marks:"))
m2 = int(input("Enter sub2 marks:"))
m3 = int(input("Enter sub3 marks:"))
if m1 > 35 and m2 > 35 and m3 > 35:
    avg = (m1 + m2 + m3)/3
    if avg >= 75:
        print('A')
    elif avg < 75 and avg >= 65:
        print('B')
    elif avg < 65 and avg > 35:
        print('C')
else:
    print("F")

Enter sub1 marks:50
Enter sub2 marks:45
Enter sub3 marks:36
C

In [48]:
m1 = int(input("Enter sub1 marks:"))
m2 = int(input("Enter sub2 marks:"))
m3 = int(input("Enter sub3 marks:"))
if m1 > 35 and m2 > 35 and m3 > 35:
    avg = (m1 + m2 + m3)/3
    if avg < 65 and avg > 35:
        print('C')
    elif avg < 75 and avg >= 65:
        print('B')
    elif avg >= 75:
        print('A')
else:
    print("F")

Enter sub1 marks:36
Enter sub2 marks:99
Enter sub3 marks:99
A

### Loops:

In [50]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [51]:
i = 1
while i <= 5:
    print("Hello world")
    i += 1

Hello world
Hello world
Hello world
Hello world
Hello world

In [ ]:
n = int(input("Enter a number"))
i = 5
while i >= n:
    print

In [55]:
n = int(input("Enter a number:"))
i = 1
while i <= n:
    print(i,end= " ")
    i += 1

Enter a number:5
1 2 3 4 5

### for loop:
1. for loop using range(start,stop,step)
2. for loop using iterable object

In [56]:
for i in range(5):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [57]:
li = [10,20,30,40,50]

In [61]:
#Displaying list elements using while loop
i = 0
while i < len(li):
    print(li[i])
    i += 1

10
20
30
40
50

In [62]:
for i in range(0,len(li)):
    print(li[i])

10
20
30
40
50

In [63]:
for i in li:
    print(i)

10
20
30
40
50

Input : [10,12,24,26,39,45,79,84,100,111]
output: [10,12,24,26,84,100]

In [65]:
for i in range(1,11):
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [66]:
for i in range(1,11):
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

### Exercise:
1. Accept user name and password from the user
2. create a dictionary with user_name and passwords as entries {user_name:password}
3. If user does not exist in the dictionary create a new user else do nothing
4. Then check the password given by the user if it is correct show a message saying login successful
5. If password is incorrect give 3 chances to give password 
6. If user gives correct password in these three chances then login successful message will be dislayed else login was unsuccessful message.