### Topics:
1. Functional programming
2. Modules
3. File handling ==> Text,Excel,csv files

### Functions

### Function without arguments

In [1]:
#Function definition
def display():
    print("Hello world!")

In [2]:
#calling a function
display()

Hello world!

### Function with arguments and no return statement

In [3]:
def addition(x,y):
    print(x + y)

In [5]:
a = addition(10,20)

30

In [6]:
print(a)

None

### Function with arguments and return statement

In [7]:
def add(x,y):
    return (x + y)

In [8]:
a = add(10,20)

In [9]:
print(a)

30

### Write a function to print 'n' natural numbers on the screen

In [10]:
def natural(n):
    for i in range(1,n+1):
        print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

### Write a function to check whether a string is palindrome or not

In [11]:
def palindrome(word):
    if word == word[::-1]:
        print("palindrome")
    else:
        print("not palindrome")

In [12]:
palindrome("madam")

palindrome

### Exercie:
1. input : 170  output : 383

In [15]:
def reverse(n):
    '''
    r = str(n)
    r = r[::-1]
    return int(r)
    '''
    return int(str(n)[::-1])
reverse(1234)

4321

In [16]:
reverse()

TypeError: reverse() missing 1 required positional argument: 'n'

### Types of arguments:
1. Required positional argument
2. key word arguments
3. default arguments

In [17]:
def add(x,y):
    return x+y
add(10,20)

30

In [18]:
add(10)

TypeError: add() missing 1 required positional argument: 'y'

In [19]:
add(10,20,30)

TypeError: add() takes 2 positional arguments but 3 were given

In [21]:
def add1(x,y):
    print("x value:",x)
    print("y value:",y)
    return x+y

In [22]:
add1(y = 10,x=20)

x value: 20
y value: 10

30

In [23]:
def add2(x,y=20):
    return x+y

In [24]:
add2(10)

30

In [25]:
add2(100,200)

300

In [40]:
def add(*x):
    '''
    s = 0
    for i in x:
        s += i
    return s
    '''
    return sum(x)

In [41]:
add(10,20,30,40)

100

### Anonymous functions:
1. Also known as single-line functions
2. use keyword 'lambda'
```
syntax : lambda arg_list : Expression
```

In [42]:
s = lambda x,y : x + y

In [43]:
s(10,20)

30

### Different ways to solve a problem
1. Traditional way
2. List comprehension
3. map() ==> map(function,iterable_object) it returns map object

In [44]:
list1 = [10,20,30,40,50]
list2 = []
for i in list1:
    list2.append(i * 2)
list2

[20, 40, 60, 80, 100]

In [45]:
[i*2 for i in list1]

[20, 40, 60, 80, 100]

In [47]:
list(map(lambda i : i*2,list1))

[20, 40, 60, 80, 100]

### Nested functions
writing a function inside another function

In [48]:
def square(x):
    return x * x
def cube(x):
    return x * square(x)

In [49]:
square(10)

100

In [50]:
cube(10)

1000

### Recursive functions

In [51]:
#write a recursive function to find a factorial of a number
def factorial(n):
    if n <= 0:
        print("We can't find factorial value for the given number")
    elif n == 1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [ ]:
#write a recursive function to print 'n' fibonacci numbers 
#input : 10
#output : 0 1 1 2 3 5 8 13 21 34

### Modules:
1. Built-in or Pre-defined modules
2. User-defined modules

### Importing modules
1. using import keyword
2. using alias names for the module

In [52]:
import math

In [53]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [54]:
math.factorial(5)

120

In [55]:
math.sqrt(16)

4.0

In [56]:
math.ceil(15.78)

16

In [57]:
math.floor(15.78)

15

In [58]:
import math as m

In [59]:
m.pow(2,5)

32.0

In [60]:
from math import *

In [61]:
factorial(10)

3628800

In [62]:
log(10)

2.302585092994046

In [63]:
help("math")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### Find area of a circle

In [64]:
import math
def Area(r):
    return math.pi * r * r

In [65]:
Area(7)

153.93804002589985

### statistics module

In [66]:
import statistics as st

In [67]:
st.mean([1,2,3,4,5])

3

In [68]:
st.median([12,45,13,36,41,52,78])

41

In [69]:
st.mode([1,2,1,2,1,3,1,4])

1

In [70]:
st.variance([1,2,3,4,5])

2.5

In [71]:
st.stdev([1,2,3,4,5])

1.5811388300841898

### os module

In [72]:
import os

In [73]:
os.mkdir("demo")

In [74]:
os.getcwd()

'C:\\Users\\hp\\Desktop\\DS using Python\\Batch1'

In [75]:
os.chdir('demo')

In [76]:
os.getcwd()

'C:\\Users\\hp\\Desktop\\DS using Python\\Batch1\\demo'

In [77]:
os.chdir("..")

In [78]:
os.getcwd()

'C:\\Users\\hp\\Desktop\\DS using Python\\Batch1'

In [79]:
os.listdir()

['.ipynb_checkpoints',
 '15-02-2024.ipynb',
 '16-02-2024(cntd).ipynb',
 '16-02-2024.ipynb',
 '17-02-2024.ipynb',
 '19-02-2024.ipynb',
 'demo',
 'demo.py',
 'Untitled.ipynb']

In [80]:
os.rename('demo','sample')

In [81]:
os.rmdir('sample')

### time module
1. gmtime() 
2. time()
3. ctime()
3. sleep()

In [1]:
import time

In [2]:
time.time()

1708331972.6266434

In [3]:
time.ctime(time.time())

'Mon Feb 19 14:09:45 2024'

In [4]:
time.gmtime()

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=19, tm_hour=8, tm_min=39, tm_sec=59, tm_wday=0, tm_yday=50, tm_isdst=0)

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

### datetime module
1. datetime
2. now

[click here for reference](https://www.w3schools.com/python/python_datetime.asp)

In [11]:
import datetime

In [12]:
datetime.datetime.now()

datetime.datetime(2024, 2, 19, 14, 42, 26, 599973)

In [13]:
datetime.datetime(2017,5,1)

datetime.datetime(2017, 5, 1, 0, 0)

In [14]:
x = datetime.datetime.now()

In [15]:
type(x)

datetime.datetime

In [16]:
x.strftime("%B")

'February'

In [17]:
x.strftime("%b")

'Feb'

### user-defined module:

In [18]:
import sample

In [19]:
sample.addition(10,20)

30

In [20]:
sample.list1

[1, 2, 3, 4, 5, 6]

### Text file handling
1. open(File_name,mode) ==> returns file object
2. close()

In [21]:
#new file creation 
open("sample.txt",'x')

In [22]:
f = open("sample.txt","w")

In [23]:
text = '''Line-1
Line-2
Line-3
Line-4
Line-5'''

In [24]:
f.write(text)

34

In [25]:
f.close()

In [26]:
#Reading a file
f = open("sample.txt","r")
data = f.read()
print(data)
f.close()

Line-1
Line-2
Line-3
Line-4
Line-5

In [28]:
#Reading n characters from the file
f = open("sample.txt","r")
data = f.read(3)
print(data)
f.close()

Lin

In [29]:
#Reading a single line from the file
f = open("sample.txt","r")
data = f.readline()
print(data)
f.close()

Line-1

In [31]:
#Reading a specific line from the file
f = open("sample.txt","r")
data = f.readlines()
print(data)
f.close()

['Line-1\n', 'Line-2\n', 'Line-3\n', 'Line-4\n', 'Line-5']

In [33]:
#Appending text to the existing file
f = open("sample.txt","a")
string = '''
Line-6
Line-7
Line-8'''
f.write(string)
f.close()

In [1]:
import os

In [2]:
#renaming a file
os.rename("sample.txt","first.txt")

In [3]:
#removing a file
os.remove("first.txt")

### Exercise:
1. create a folder
2. create random no.of files in it
3. give unique names to all the files
4. add unique content in each file
5. file size should be 256bits

In [5]:
import pandas as pd

In [6]:
pd.read_csv(r"C:\Users\hp\Desktop\DS using Python\CVT\CVT-Batch1\Datasets-master\weather_data.csv")

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7    NaN
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/7/2017           34          5    NaN

In [9]:
pd.read_excel(r"C:\Users\hp\Downloads\demo.xlsx")

   Roll_no Name
0        1    a
1        2    b
2        3    c